replicaCount: 1

image:
  repository: tahler/isotope-service
  tag: 1
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 100m
    memory: 10Mi
  limits  :
    cpu: 1000m
    memory: 100Mi

nodeSelector:

podAnnotations:
  prometheus.io/scrape: "true"
  sidecar.istio.io/inject: "true"
  sidecar.istio.io/proxyCPU: "500m"
  sidecar.istio.io/proxyCPULimit: "500m"
  sidecar.istio.io/proxyMemory: "100Mi"
  sidecar.istio.io/proxyMemoryLimit: "100Mi"
